<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mvc Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/startbootstrap-blog-home-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/startbootstrap-blog-home-gh-pages/css/blog-home.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color:black">
        <div class="container">
            <a class="navbar-brand" href="/"><i  class="fas fa-home fa-2x" style="color:red"></i></a>
           

            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Hakkimizda/">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Iletisim/">İletişim</a>
                    </li>
                    @if (Session["uyeId"] != null)
    {






        if (Convert.ToInt32(Session["yetkiid"]) == 1)

        {
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Session["kullaniciadi"].ToString()  <i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/Admin/Index" target="_blank">Admin Panel</a>
                        <a class="dropdown-item" href="/Uye/Index/@Session["uyeid"]">Profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Uye/Logout">Logout</a>
                    </div>
                </li>

}
else
{
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        
                        <a class="dropdown-item" href="/Uye/Index/@Session["uyeid"]">Profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Uye/Logout">Logout</a>
                    </div>
                </li>
}
}

else
{

                <a class="navbar-brand" href="/Uye/Create"><i class="fas fa-sign-in-alt"></i></a>
                <a class="navbar-brand" href="/Uye/Login"><i class="fas fa-user-circle"></i></a>

}



                </ul>
            </div>
        </div>
    </nav>
    
  
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">
                   
                </h1>
                
                 

                <!--Blog Post Here-->
                @RenderBody()

                <!-- Pagination -->
              
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Search Widget -->

                @Html.Partial("~/Views/Home/BlogAraPartial.cshtml")
                <!-- Categories Widget -->
                @{
        Html.RenderAction("KategoriPartial", "Home");
                }
                <!-- Side Widget -->
                @{
        Html.RenderAction("PopulerMakaleler", "Home");
                }

                @{
        Html.RenderAction("SonYorumlar", "Home");
                }
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5" style="background-color:black">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->

    <script src="~/Content/startbootstrap-blog-home-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/startbootstrap-blog-home-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
